* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    background-color: gray;
    color: rgb(255, 255, 255);
}





/*-------- AREA DE MENU -----------*/

.area-cabecalho {
    background-color: rgb(106, 20, 187);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 10px;
}

.area-cabecalho .area-logo h1 {
    color: rgb(30, 168, 214);
}

.area-cabecalho .area-logo .branco {
    color: white;
    font-size: 40px;
}

#menu-button {
    display: none;
}

.menu-burguer img  {
   color: white;
   background-color: rgb(255, 255, 255);
   cursor: pointer;
}

.menu-burguer button {
    border: none;
}

.area-menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.area-cabecalho  .area-menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: 0.8s;
}

.area-cabecalho  .area-menu a:hover {
   border-bottom: 0.1rem solid white;
   transform: scale(1.1);
}

/*---------------------------------------*/


/*-------------AREA - PRINCIPAL ---------------*/

.area-principal {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 0 10px 10px 0;
    width: 980px;
}

/*--------------AREA DE POSTAGENS -------------------------------*/

.area-postagens {
    width: 660px;
}

.postagem article {
    background-color: white;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;  
}

.postagem article .data-postagem {
    font-size: 0.8rem;
    display: block;
    margin: 10px 0 10px 0
}

.postagem article p {
    margin: 10px 0 10px 0;
}


.saiba-mais {
    color: rgb(106, 20, 187);
    text-align: center;
}

.postagem h2 {
    margin-top: 10px;
    color: rgb(106, 20, 187);
}

/*------------AREA LATERAL ------------------------------*/

.area-lateral {
    width: 260px;
    background-color: white;
    color: black;
    gap: 25px;
    padding: 10px;
}

.area-principal .conteudo-lateral {
    border-bottom: 1px solid gray;
    color: black;
}

.area-lateral .conteudo-lateral h3 {
    color: black;
}

.rodape {
    background-color: black;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 10px;
}


